---
import "../styles/global.css";
---

<footer class="flex items-baseline justify-between pt-10 pb-20">
  <div>
    <p class="text-xl">Christopher Gantes</p>
  </div>
  <div class="flex gap-12">
    <div>
      <p class="text-xs">PAGES</p>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
    <div>
      <p class="text-xs">GET IN TOUCH</p>
      <ul>
        <li><a href="mailto:christopherjgantes@outlook.com">Email</a></li>
        <li><a href="linkedin.com/in/christophergantes">LinkedIn</a></li>
        <li><a href="github.com/christophergantes">GitHub</a></li>
      </ul>
    </div>
  </div>
</footer>
