---
import "../styles/global.css";

interface Props {
  title: string;
  tagline?: string;
  // align?: "start" | "center";
}

const { tagline, title } = Astro.props;
---

<div class="flex h-100 items-center justify-between max-w-4xl m-auto">
  <div class="">
    <p class="text-6xl">{title}</p>
    {tagline && <p class="text-4xl">{tagline}</p>}
  </div>
  <slot />
</div>
