---
import "../styles/global.css";

const { pageTitle = "Christopher Gantes" } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{pageTitle}</title>
