---
import "../styles/global.css";
const { skill } = Astro.props;
---

<div
  class="flex h-16 items-center gap-5 rounded-sm bg-white p-5 text-black outline outline-neutral-400 transition hover:scale-110 hover:bg-neutral-100 hover:shadow-sm hover:shadow-white"
>
  <span>{skill}</span>
  <img
    class="inline h-auto max-w-10"
    src=`/icons/${skill.toLowerCase()}.png`
    alt=`${skill} logo`
  />
</div>
